* {
  margin: 0;
  padding: 0;
}

body {
  position: absolute;
  width: 100%;
}

main {
  display: flex;
}

footer {
  height: 50px;
  width: 100%;
  margin-top: 15.4%;
  align-items: center;
  justify-content: center;
  display: flex;
  background-color: rgb(151, 151, 151);
}

.header {
  width: 100%;
  height: 200px;
  justify-content: space-between;
  display: flex;
  background-color: #851400;
  background-image: url("https://www.transparenttextures.com/patterns/black-linen.png");
  /* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */;
  /* background:
  linear-gradient(27deg, #580000 5px, transparent 5px) 0 5px,
  linear-gradient(207deg, #580000 5px, transparent 5px) 10px 0px,
  linear-gradient(27deg, #6f0000 5px, transparent 5px) 0px 10px,
  linear-gradient(207deg, #6f0000 5px, transparent 5px) 10px 5px,
  linear-gradient(90deg, #650000 10px, transparent 10px),
  linear-gradient(#650000 25%, #610000 25%, #610000 50%, transparent 50%, transparent 75%, #730000 75%, #730000);
  background-color: #530000;
  background-size: 20px 20px; */
}

#trybewarts-header-title {
  align-self: center;
}

.trybewarts-login {
  display: flex;
  align-items: center;
  padding: 10px;
}

.trybewarts-login input {
  flex-grow: 1;
  margin-right: 5px;
}

#evaluation-form {
  display: flex;
  flex-basis: 675px;
  flex-flow: column;
  border: 2px solid;
}

#evaluation-form .container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
}

#evaluation-form .container input {
  width: 50%;
}

#evaluation-form .container #label-house , select {
  margin-left: 10px;
  width: 50%;
}

#trybewarts-forms-logo {
  height: 500px;
}

.family-box {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
}

.column {
  flex-direction: column;
}

.wrap {
  flex-wrap: wrap;
}

#rate-container {
  display: flex;
  width: 100%;
}

#textarea {
  width: 99.5%;
}

#counter {
  position: relative;
  top: -30px;
  left: 93%;
}
